.activity {
  display: flex;
  flex-wrap: wrap;
  min-height: 5rem;
  padding: 1rem;
  position: relative;

  &_time {
    left: 1rem;
    overflow: hidden;
    position: absolute;
    text-align: right;
    top: 1rem;
    width: 6rem;
  }

  &_description {
    font-size: .9rem;
    line-height: 1.5;
    margin: 0 0 0 7rem;
    width: 100%;
  }

  &_info {
    margin-left: 7rem;
  }

  &_project:before {
    content: ' @ ';
    color: lighten( @box-color, 40% );
  }
}