.header {
  background-color: @header-background-color;
  border-bottom: 1px solid @border-color;
  box-shadow: 0 0 3px lighten( @border-color, 5% );
  color: @header-color;
  overflow: hidden;
  padding: .8rem 2rem;
  position: relative;
  z-index: 90;

  &_user {
    padding: 1rem;
    position: absolute;
    right: 0;
    text-align: right;
    top: .4rem;
  }

  &_user-name {
    margin-right: .5rem;
  }

  &_user-image {
    color: @brand-background-color;
    margin-right: .3rem;
  }

  &_user-logout i {
    margin-left: .3rem;
  }
}