.sidebar {
  background-color: @nav-background-color;
  color: @nav-color;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 4rem;
  z-index: 90;

  &_logo {
    display: block;
    margin-top: .8rem;
    text-align: center;
  }
}