.timeline {
  margin-top: 1rem;
  max-width: 60rem;
  position: relative;

  &_item {
    padding: .5rem;
  }

  &_group {
    font-size: 1.4rem;
    margin: 0 0 1rem 0;
  }

  > ul {
    border-top: 1px solid @border-color;
  }
}
